.venv
.idea
/db.sqlite3
.vscode/
anki/__pycache__/
cards/__pycache__/
cards/migrations/__pycache__/
cards/templatetags/__pycache__/__init__.cpython-312.pyc
cards/templatetags/__pycache__/markdown_to_html.cpython-312.pyc
/lesson_47.db
cards/templatetags/__pycache__/__init__.cpython-311.pyc
cards/templatetags/__pycache__/markdown_to_html_2.cpython-311.pyc
cards/templatetags/__pycache__/markdown_to_html_2.cpython-312.pyc
cards/templatetags/__pycache__/markdown_to_html.cpython-311.pyc
